# get direnv to load this file
export MAVEN_REPO_AWS_ACCESS_KEY_ID={get this value from Aneil}
export MAVEN_REPO_AWS_ACCESS_KEY_SECRET={get this value from Aneil}
export TEST_POSTGRES_JDBC_URL=jdbc:postgresql://localhost:5432/rapids-test

# turn off -Xverify:none which is set in Leiningen's bin/.lein-wrapped script
# because it causes warnings in JVM 13
export LEIN_JVM_OPTS="${LEIN_JVM_OPTS-"-XX:+TieredCompilation -XX:TieredStopAtLevel=1"}"
